.page-view {
  border-bottom: 1px solid #e5e9ed;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  padding-bottom: 1rem;
}

.page-view__title h1 {
  color: #4e5963;
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
}
